<html>
<head></head>

<body>

{% if unavailable %}
<h1>Weather informaiton unavailable.</h1>
{% else %}

<h1>Weather for {{city}}, {{state}} {{zipcode}}</h1>

{% if alerts %}
{% for alert in alerts %}

{{alert.0}} - {{alert.2}} until {{alert.3}}<br>
{{alert.1}}

{% endfor %}
{% endif %}

<h2>Current Conditions</h2>

<img src="{{MEDIA_URL}}intellicast_icons/wx_{{icon_code}}.png">

<ul>
    <li>Temperature - {{current_temp}}</li>
    <li>Dewpoint - {{dewpoint}} F</li>
    <li>Humidity - {{humidity}}</li>
    <li>Wind - {{wind_direction}} {{wind_speed}} mph</li>
    <li>Visibility - {{visibility}} miles</li>
    <li>Sky - {{sky}}</li>
</ul>

<h2>Hourly Forecast</h2>
<ul>
{% for forecast in hourly_forecasts %}
<li>
<img src="{{MEDIA_URL}}intellicast_icons/wx_{{forecast.icon_code}}.png">
    {{forecast.time_string}} - {{forecast.temp}} F, {{forecast.sky}}, Chance of Precipitation {{forecast.precip_chance}}
</li>
{% endfor %}
</ul>

<h2>Extended Forecast</h2>
<ul>
{% for forecast in daily_forecasts %}
<li>
<img src="{{MEDIA_URL}}intellicast_icons/wx_{{forecast.icon_code}}.png">
{{forecast.weekday}} - High of {{forecast.high_temp}}, Low of {{forecast.low_temp}}.  {{forecast.phrase}}
</li>
{% endfor %}
</ul>

{% endif %}

<h1>Site Badge Example</h1>
{% load intellicast_extras %}
{% get_weather_conditions as weather_conditions %}

<ul>
<li>Temperature: {{weather_conditions.current_temp}}</li>
<li>Icon: <img src="{{MEDIA_URL}}intellicast_icons/wx_{{weather_conditions.icon_code}}.png"></li>
<li>Zipcode: {{weather_conditions.zipcode}}</li>
</ul>

<h1>Alert Badge Example</h1>
{% get_weather_alerts as weather_alerts %}
{% if weather_alerts %}
    {% for w_alert in weather_alerts %}
        {{w_alert}}
    {% endfor %}
{% else %}
<p>No Severe Weather Alerts.</p>
{% endif %}

</body>
</html>