<html>
<head></head>

<body>

{% if unavailable %}
<h1>Weather informaiton unavailable.</h1>
{% else %}

<h1>Weather for {{location.city}}, {{location.state}} {{location.zipcode}}</h1>

<h2>Change Location</h2>
<form>
    {{ geo_form }}
    <input type="submit"/>
</form>

<h2>Current Conditions</h2>

<img src="{{MEDIA_URL}}intellicast_icons/wx_{{current_conditionsIconCode}}.png">

<ul>
    <li>Temperature - {{ current_conditions.TempF }} F</li>
    <li>Dewpoint - {{ current_conditions.DewPtF }} F</li>
    <li>Humidity - {{ current_conditions.RelHumidity }}</li>
    <li>Wind - {{ current_conditions.WndDirCardinal }} {{ current_conditions.WndSpdMph }} mph with gusts up to {{ current_conditions.WndGustMph }}</li>
    <li>Visibility - {{ current_conditions.Visibility }} miles</li>
    <li>Sky - {{ current_conditions.Sky }}</li>
</ul>

<h2>Hourly Forecast</h2>
<ul>
{% for forecast in hourly_forecasts %}
<li>
<img src="{{MEDIA_URL}}intellicast_icons/wx_{{forecast.icon_code}}.png">
    {{forecast.time_string}} - {{forecast.datetime}} (hour {{forecast.datetime.hour}} - {{forecast.temp}} F, {{forecast.sky}}, Chance of Precipitation {{forecast.precip_chance}}
</li>
{% endfor %}
</ul>

<h2>Extended Forecast</h2>
<ul>
{% for forecast in daily_forecasts %}
<li>
<img src="{{MEDIA_URL}}intellicast_icons/wx_{{forecast.icon_code}}.png">
{{forecast.weekday}} - High of {{forecast.high_temp}}, Low of {{forecast.low_temp}}.  {{forecast.phrase}}
</li>
{% endfor %}
</ul>

{% endif %}

<h1>Site Badge Example</h1>
{% load intellicast_extras %}
{% get_weather_conditions as weather_conditions %}

<ul>
<li>Temperature: {{weather_conditions.current_temp}}</li>
<li>Icon: <img src="{{MEDIA_URL}}intellicast_icons/wx_{{weather_conditions.icon_code}}.png"></li>
<li>Zipcode: {{weather_conditions.zipcode}}</li>
</ul>

<h1>Alert Badge Example</h1>
{% get_weather_alerts as weather_alerts %}
{% if weather_alerts %}
    {% for w_alert in weather_alerts %}
        {{w_alert.headline}} {{w_alert.starttime}} until {{w_alert.endtime}}<br>
        {{w_alert.bulletin}}
    {% endfor %}
{% else %}
<p>No Severe Weather Alerts.</p>
{% endif %}

</body>
</html>
